body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    background: #eee;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.links a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.links a:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .links a {
        width: 80%;
    }
}
